*.dcu
*.~*
*.local
*.identcache
__history
*.drc
*.map
*.exe
*.dll
*.elf
bin/*
win32/*
*.plist
*.vlb
*.pas.cbk
dunit.ini
*.deployproj
*.tvsconfig
**/OSX32/*
**/iOSDevice/*
**/Android/*
**/Win32/*
**/Win64/*
